<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastrar serviço</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 class="ion-text-center">Cadastro</h1>

  <ion-item lines="full">
      <ion-input label="Placa" labelPlacement="floating" placeholder="123ABC" [(ngModel)]="carro.placa" maxlength="6"></ion-input>
  </ion-item>
  <ion-item lines="full">
      <ion-input label="Modelo" labelPlacement="floating" placeholder="Fusca" [(ngModel)]="carro.modelo" maxlength="30"></ion-input>
  </ion-item>
  <ion-item lines="full">
      <ion-input label="Ano" labelPlacement="floating" placeholder="2000" [(ngModel)]="carro.ano" maxlength="4"></ion-input>
  </ion-item>
  <ion-item lines="full">
      <ion-input label="Data" type="date" [(ngModel)]="data" labelPlacement="floating" placeholder="10/02/2006" [(ngModel)]="carro.data"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-input label="Serviço" labelPlacement="floating" placeholder="Reparos na lataria" [(ngModel)]="carro.servico" maxlength="50"></ion-input>
</ion-item>
<br>
<ion-button expand="block" (click)="salvar()">Salvar</ion-button>
<ion-button expand="block" fill="outline" routerLink="/">Voltar</ion-button>
</ion-content>
